//пофиксить все блоки где картинка выходят за контейнер
.title {
	padding: 50px 0px;
	margin-top: 95px;
	margin-bottom: 100px;
	background: #F0F2F5;
	&__container {
		position: relative;
	}
	&__items {
	}
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 80px;
		line-height: 75%;
		margin-bottom: 45px;
	}
	&__sub-title {
		display: flex;
		column-gap: 10px;
		font-family: 'Noto Sans';
		font-weight: 400;
		font-size: 14px;
		line-height: 160%;
		& span {
			color: #828A99;
		}
	}
	&__image {
		position: absolute;
		right: 0;
		bottom: -50px;
	}
}
.advantages-block {
	&__row {
		display: flex;
		&_main {
			position: absolute;
			top: 804px;
			color: #fff;
			.advantages-block__item {
				border-top: 1px solid #EBEBF033;
				border-right: 1px solid #EBEBF033;
				//border-bottom: 1px solid #EBEBF033;
				padding: 34px 52px 30px;
				&:first-child {
					border-left: 1px solid #EBEBF033;
				}
			}
		}
		&_other {
			margin-bottom: 150px;
			color: #292D33;
			.advantages-block__item {
				border-top: 1px solid #EBEBF0;
				border-right: 1px solid #EBEBF0;
				border-bottom: 1px solid #EBEBF0;
				&:first-child {
					border-left: 1px solid #EBEBF0;
					padding: 30px 52px;
				}
			}
		}
	}
	&__item {
		flex: 0 1 20%;
		padding: 30px 50px;
		
	}
	&__text {
		margin-top: 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
	}
}
.step {
	margin-bottom: 150px;
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		margin-bottom: 50px;
	}
	&__row {
		display: flex;
		column-gap: 30px;
	}
	&__item {
		flex: 0 1 25%;
	}
	&__number-box {
		display: flex;
		align-items: center;
		column-gap: 30px;
		margin-bottom: 30px;
	}
	&__number-text {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 48px;
		line-height: 120%;
		color: #5C8EE6;
	}
	&__number-line {
		width: 260px;
		height: 1px;
		background: #EBEBF0;
	}
	&__text-box {
		padding-right: 31px;
	}
	&__sub-title {
		font-weight: 400;
		font-size: 28px;
		line-height: 160%;
		margin-bottom: 10px;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #828A99;
	}
	&__button-box {
		margin-top: 20px;
	}
}
.contract {
	margin-bottom: 150px;
	&_product {
		margin-bottom: 100px;
	}
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 48px;
		line-height: 120%;
		margin-bottom: 64px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
	}
}
.items-contract {
	max-width: 480px;
	display: flex;
	flex-direction: column;
	border: 1px solid #EBEBF0;
	margin-top: -1px;
	padding-top: 1px;
	margin-left: -1px;
	padding-left: 1px;
	transition: 0.3s;
	&:hover {
		position: relative;
		z-index: 10000;
		border: 1px solid #5C8EE6;
		.item-contract__title {
			color: #5C8EE6;
		}
	}
	&__text-box {
		padding-top: 40px;
		padding-left: 50px;
		padding-bottom: 95px;
	}
	&__title {
		font-weight: 400;
		font-size: 28px;
		line-height: 160%;
		margin-bottom: 10px;
		transition: 0.3s;
	}
	&__sub-title {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #828A99;
		padding-right: 120px - 3px;
	}
	&__bg {
		margin-top: auto;
		margin-left: auto;
	}
}
.mark {
	margin-bottom: 150px;
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		margin-bottom: 50px;
	}
	&__row {
		display: flex;
	}
	&__item {
		display: flex;
		align-items: center;
		column-gap: 50px;
		padding: 50px;
		border: 1px solid #EBEBF0;
		margin-top: -1px;
		padding-top: 51px;
		margin-left: -1px;
		padding-left: 51px;
		transition: 0.3s;
		&:hover {
			position: relative;
			z-index: 100;
			border: 1px solid #5C8EE6;
			.mark__sub-title {
				color: #5C8EE6;
			}
			.mark__bg svg {
				fill: #5C8EE6;
			}
		}
	}
	&__bg {
		svg {
			fill: #828A99;
			transition: 0.3s;
		}
	}
	&__sub-title {
		font-weight: 400;
		font-size: 28px;
		line-height: 160%;
		margin-bottom: 10px;
		transition: 0.3s;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #828A99;
		padding-right: 60px;
	}
}
.mission {
	position: relative;
	margin-bottom: 150px;
	&__img {
		& img {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 840px;
			max-height: 660px;
		}
	}
	&__items {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 720px;
		padding-top: 50px;
		padding-bottom: 107px;
		margin-left: auto;
	}
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		margin-bottom: 20px;
		max-width: 480px;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #828A99;
	}
	&__button-box {
		position: absolute;
		top: 582px;
		left: 0;
	}
}
.partner {
	margin-bottom: 150px;
	&__row {
		display: flex;
		justify-content: space-between;
		column-gap: 20px;
	}
	&__items {
		flex: 0 1 50%;
	}
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		margin-bottom: 38px;
	}
	&__list {
		display: flex;
		column-gap: 50px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
	&__text-box {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
	}
	&__frame {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-top: 32px;
	}
	
	&__bk {
		flex: 0 1 33.3%;
		padding: 45px 80px;
		margin-top: -1px;
		padding-top: 46px;
		margin-left: -1px;
		padding-left: 81px;
		border: 1px solid #EBEBF0;
		&:hover {
			& img {
				filter: grayscale(0%);
			}
		}
		& img {
			filter: grayscale(100%);
			transition: 0.3s;
		}
	}
}
.blog {
	margin-bottom: 150px;
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		margin-bottom: 50px;
	}
	&-slider {
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		min-width: 0;
		padding: 0px 100px;
		&__slide {
			display: flex;
			justify-content: center;
			width: 100%;
			height: 100%;
			&:hover {
				.blog-slider__bg {
					background: rgba(41, 45, 51, 0.8);
					& img {
						transform: scale(1.1);
					}
				}
			}
		}
		&__bg {
			display: inline-block;
			overflow: hidden;
			background: rgba(41, 45, 51, 0.6);
			transition: 0.7s;
			& img {
				display: block;
				position: relative;
				z-index: -100;
				width: 100%;
				height: 100%;
				transform: scale(1);
				transition: 0.7s;
			}
		}
		&__box-text {
			position: absolute;
			bottom: 50px;
			display: flex;
			flex-direction: column;
			row-gap: 10px;
			z-index: 100;
			max-width: 605px;
			margin: 0px auto;
		}
		&__title {
			font-weight: 400;
			font-size: 28px;
			line-height: 160%;
			color: #FFFFFF;
		}
		&__text {
			font-weight: 400;
			font-size: 16px;
			line-height: 160%;
			color: #FFFFFF;
		}
		&__button-column {
			display: flex;
			justify-content: space-between;
		}
		&__button-box {
			margin-top: 47px;
		}
		&__navigation {
			display: flex;
			margin-left: auto;
		}
		&__arrow {
			background: #5C8EE6;
			margin-top: 30px;
			cursor: pointer;
			transition: 0.3s;
			&-left {
				padding: 22px 18px 22px 32px;
			}
			&-right {
				padding: 22px 32px 22px 18px;
			}
			&:hover {
				background: #3A71D1;
			}
		}
	}
	&-sliders {
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		min-width: 0;
		padding: 0px 100px;
		&__slide {
			display: flex;
			justify-content: center;
			width: 100%;
			height: 100%;
			&:hover {
				.blog-sliders__bg {
					background: rgba(41, 45, 51, 0.8);
					& img {
						transform: scale(1.1);
					}
				}
			}
		}
		&__bg {
			display: inline-block;
			overflow: hidden;
			background: rgba(41, 45, 51, 0.6);
			transition: 0.7s;
			& img {
				display: block;
				position: relative;
				z-index: -100;
				width: 100%;
				height: 100%;
				transform: scale(1);
				transition: 0.7s;
			}
		}
		&__box-text {
			position: absolute;
			bottom: 50px;
			display: flex;
			flex-direction: column;
			row-gap: 10px;
			z-index: 100;
			max-width: 605px;
			margin: 0px auto;
		}
		&__title {
			font-weight: 400;
			font-size: 28px;
			line-height: 160%;
			color: #FFFFFF;
		}
		&__text {
			font-weight: 400;
			font-size: 16px;
			line-height: 160%;
			color: #FFFFFF;
		}
		&__button-column {
			display: flex;
			justify-content: space-between;
		}
		&__button-box {
			margin-top: 47px;
		}
		&__pagination {
			display: inline-flex;
			align-items: center;
			justify-content: flex-end;
			column-gap: 15px;
			margin-top: 50px;
			&-num {
				font-weight: 600;
				font-size: 16px;
				line-height: 160%;
				padding: 10px;
				cursor: pointer;
				transition: 0.3s;
				&:nth-child(1) {
					&::before {
						content:'1';
						
					}
				}
				&:nth-child(2) {
					&::before {
						content:'2';
						
					}
				}
				&:nth-child(3) {
					&::before {
						content:'3';
						
					}
				}
				&:nth-child(4) {
					&::before {
						content:'4';
						
					}
				}
				&:nth-child(5) {
					&::before {
					content:'5';
				}
				}
				&-active {
					padding: 12px 20px;
					border: 1px solid #5C8EE6;
					color: #5C8EE6;
				}
			}
		}
	}
}
.center {
	margin-bottom: 150px;
	&__items {
	}
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		max-width: 542px;
		margin-bottom: 20px;
	}
	&__text-box {
		display: flex;
		column-gap: 100px;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		max-width: 635px;
		color: #828A99;
	}
	&-slider {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: 0;
		margin-top: 50px;
		&__slide {
			position: relative;
			left: 230px;
			display: flex;
			width: 705px !important;
		}
		&__bg {
		}
		&__navigation {
			display: flex;
			justify-content: flex-end;
		}
		&__arrow {
			background: #5C8EE6;
			margin-top: 30px;
			cursor: pointer;
			transition: 0.3s;
			&-left {
				padding: 22px 18px 22px 32px;
			}
			&-right {
				padding: 22px 32px 22px 18px;
			}
			&:hover {
				background: #3A71D1;
			}
		}
	}
}
.contracts {
	margin-bottom: 100px;
	&__row {
		display: flex;
		column-gap: 120px;
	}
	&__column {
	}
	&__img {
	}
	&__items {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}
	&__line {
	}
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		margin-bottom: 20px;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #828A99;
	}
}
.process {
	position: relative;
	margin-bottom: 150px;
	&__items {
		display: flex;
		flex-direction: column;
		max-width: 720px;
		padding-top: 50px;
		margin-right: auto;
	}
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		margin-bottom: 20px;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #828A99;
	}
	&__list {
		display: flex;
		column-gap: 50px;
		margin-top: 30px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
	&__item {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
	}
	&__subtext {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
	}
	&__img {
		& img {
			position: absolute;
			top: 0;
			right: 0;
			max-width: 840px;
			max-height: 660px;
		}
	}
}
.kinds {
	margin-bottom: 150px;
	&__items {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		margin-bottom: 20px;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		max-width: 840px;
		color: #828A99;
	}
	&__list {
		display: flex;
		column-gap: 56px;
		margin-top: 50px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		max-width: 304px;
	}
	&__item {
		display: flex;
		column-gap: 20px;
	}
	&__dash {
		font-weight: 600;
		font-size: 16px;
		line-height: 160%;
		color: #5C8EE6;
	}
	&__subtext {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
	}
}
.firm {
	position: relative;
	margin-bottom: 150px;
	background: #F0F2F5;
	min-height: 676px;
	&__items {
		display: flex;
		flex-direction: column;
		max-width: 720px;
		padding-top: 100px;
		margin-right: auto;
	}
	&__title {
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		margin-bottom: 20px;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #828A99;
	}
	&__list {
		display: flex;
		column-gap: 50px;
		margin-top: 30px;
		margin-bottom: 50px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
	&__item {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
	}
	&__subtext {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
	}
	&__button {
		display: inline-flex;
		align-self: flex-start;
		column-gap: 10px;
		background: #5C8EE6;
		padding: 25px 60px;
		transition: 0.3s;
		.btn-txt {
			padding: 0px;
			font-weight: 600;
			font-size: 16px;
			line-height: 160%;
			color: #fff;
		}
		&:hover {
			background: #3A71D1;
		}
	}
	&__img {
		& img {
			position: absolute;
			top: 0;
			right: 0;
			max-width: 960px;
			max-height: 676px;
		}
	}
}