.footer {
	&__container {
		display: flex;
		flex-direction: column;
	}
	&__wrapper-top {
		border-top: 1px solid #EBEBF0;
		border-bottom: 1px solid #EBEBF0;
	}
	&__row-top {
		display: flex;
		align-items: center;
		//justify-content: space-between;
		padding: 50px 0px;
	}
	&__logo {
		margin-right: 160px;
	}
	&__phone {
		font-weight: 600;
		font-size: 32px;
		line-height: 160%;
		margin-right: 82px;
		text-decoration-line: underline;
	}
	&__address {
		display: flex;
		align-items: center;
		column-gap: 15px;
		margin-right: 50px;
	}
	&__email {
		display: flex;
		align-items: center;
		column-gap: 15px;
		margin-right: auto;
	}
	&__icon {
	}
	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
	}
	&__social {
		display: flex;
		flex-direction: row;
		column-gap: 15px;
	}
	&__vk {
	}
	&__tg {
	}
	&__wrapper-center {
	}
	&__row-center {
		display: flex;
		column-gap: 130px;
		padding: 50px 0px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		&_last {
			margin-left: 185px - 130px;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 160%;
		margin-bottom: 30px;
	}
	&__column {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		margin-left: 20px;
		&_center {
			margin-top: 30px + 26px;
			margin-left: 0px;
		}
	}
	&__sub-title {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #828A99;
	}
	&__wrapper-bottom {
		border-top: 1px solid #EBEBF0;
	}
	&__row-bottom {
		display: flex;
		justify-content: space-between;
		padding: 20px 0px;
	}
	&__text-box-left {
		display: flex;
	}
	&__text {
		font-weight: 400;
		font-size: 12px;
		line-height: 160%;
		color: #828A99;
		&-1 {
			margin-right: 80px;
		}
		&-2 {
			text-decoration-line: underline;
		}
		&-3 {

		}
	}
	&__text-box-right {
		display: flex;
		column-gap: 10px;
	}
	&__ruso {
		display: flex;
		align-items: center;
	}
}